<br><br><br><br><br><br><br><br><br><br><br>
<footer class="page-footer font-small pt-0 bg-info">
  <div class="footer-copyright py-3 text-center text-white">
    <small>
      © 2018 Copyright:
      <a href="https://www.explorecode.tk/" class="text-white">WACADEMY. All Rights Reserved </a>
    </small>
  </div>
</footer>