<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-info">
    <a class="navbar-brand text-white" href="#">WACADEMY</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li>
          <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
          </form>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-white" href="/home">Dashboard
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/my-course">My Course</a>
        </li>
      </ul>

      <div class="dropdown">
        <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Hello,
          <%= username %>
          <img src="<%= image %>" width="30" alt="img_profile" style="border-radius: 50%">
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="#">Signed in as <%= username %></a>
          <a class="dropdown-item" href="#">Setting</a>
          <a class="dropdown-item" href="#">Help</a>
          <a class="dropdown-item" href="/logout">Logout</a>
        </div>
      </div>
    </div>
  </nav>